nav {
  width: 100%;
  min-height: 50px;
  background-color: lightgray;
  border: 1px solid grey;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

nav > ul > li > a {
  font-size: larger;
  
}